@model SHGolfStore.Domain.Entities.Publisher

@{
    ViewBag.Title = "Publisher";
}

<h2>Publisher</h2>

<fieldset>
    <legend>Publisher</legend>

    @Html.ActionLink("Add New Book", "Create", "Book", new { id = Model.PublisherId }, null)

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PublisherName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PublisherName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Address)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Address)
    </div>

    <hr />
    <h3>Books Associated</h3>
    <table>
        <tr><th>Id</th><th>Title</th><th>Year</th></tr>
        @foreach (var i in Model.Books)
        {
            <tr>
                <td>@Html.DisplayFor(model => i.BookId)</td>
                <td>@Html.DisplayFor(model => i.Title)</td>
                <td>@Html.DisplayFor(model => i.Year)</td>
                <td>
                    @Html.ActionLink("View", "Details", "Book", new { id = i.BookId }, null) |
                    @Html.ActionLink("Edit", "Edit", "Book", new { id = i.BookId }, null) |
                    @Html.ActionLink("Delete", "Delete", "Book", new { id = i.BookId }, null)
                </td>
            </tr>
        }
    </table>

</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.PublisherId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
